/**************************
Copyright 2018 @zeazje
for Wonmihe Healthpa
Created: 2018-05-24 Thu
**************************/
@charset "utf-8";

/*禁止选择*/
.nonselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/**************************************
/*loginFrame*/
	/*loginBground*/
	#logBg {
		width: 100%;
		height: auto;
		background: url("../images/default_bg.jpg") no-repeat center center fixed;
		background-size: cover;
	}
	@media only screen and (min-width: 798px){
		.pd100 {
			width: 10px;
			height: 80px;
			display: block;
		}
	}
	/*Nav bar*/
	#nav {
		width: 100%;
		height: 48px;
		background: rgba(0,0,0,0.9);
		/*暂隐藏NavBar*/
		visibility: hidden;
	}
		/*logo*/
	.l_logo_a {
		display: block;
		width: 160px;
		height: 40px;
		margin-left: 40px;
		padding-top: 4px;
		text-decoration: none;
	}
	.l_logo {
		display: block;
		width: 160px;
		height: 40px;
		background: url("../images/logo.png");
	}
	
	/*居中logo*/
	h1.wmhp {
		display: block;
		width: 480px;
		height: 120px;
		margin: 150px auto 0;	/*topmargin减少50px+以适应平板尺寸屏幕*/
		text-indent:-9999px;
		background: url("../images/logo480.png");
	}
	@media only screen and (min-width: 798px){
		h1.wmhp {
		margin: 100px auto 0 !important;	/*topmargin减少50px+以适应平板尺寸屏幕*/
	}
	}
	/*随机诗句，欢迎导语*/
	.tpTip {
		margin: 10px auto 5px;
		color: #fff;
		text-shadow: 2px 2px 4px #000;
		font-size: 1.7em;
		font-family: Serif,"Simsong","宋体";
		text-align: center;
		font-weight: bold;
	}
	/************************************************************
	/*Account Frame*/
	#acntFrm {
		display: block;
		width: 480px;
		height: 360px;
		background: rgba(0,0,0,0.5);
		margin: 20px auto 10px;
	}
	#acntFrm_bdy{
		background: #fff;
	}
	#acntFrm ul li {
		width: 33.33%;
		text-align: center;
		font-size: 1.2em;
		border-radius: 0 !important;
	}
	#acntFrm_3 {
		width: 33.34% !important;
		padding-right: 0;}
	.white a {
		color: #fff;
	}
	.white {border-radius: 0 !important;}
	#acntFrm ul li .active a:hover {color:#000 !important;}
		/*Account Form (Sign up/ Sign in ...)*/
	.acntForm {
		background: #fff;
		width: 100%;
		height: 320px;
		display: block;
	}
	
	/*框内元素*/
	.signF {
		width: 88%;
		margin: 0 auto;
		
	}
	.signIn {
		padding-top: 50px;
	}
	/*占位符*/
	.plo {
		width: 40%;
		height: 10px;
		display: block;
	}
	.tm1 {
		margin-top: 1.5px;
		
	}
	.clearfix {clear: both;}
	/*///////////////////////////////////
	
	/*登录*/
	.signlft {
		width: 50%;
		display: block;
		float: left;
	}
	.signrit {
		width: 45%;
		height: 200px;
		display: block;
		float: right;
		border-left: 1px solid #e7e7e7;
		padding-left: 5%;
	}
		/*验证码*/
	#yzhmipt {
		width: 113px;
		display: block;
	}	
	#yzhcode
            {  
                font-family:Arial;  
                font-style:italic;  
                font-weight:bold;  
                border:0;  
                letter-spacing:2px;  
                color:blue;  
				width:60px;
				height:34px;
				display:inline-block;
				float:right;
				margin-top: -34px;
            }  
	.cytip {
		font-size: 0.8em;
		font-family: serif,"Simsong","宋体";
		margin-top: 10px;
		display: block;
	}
		/*login btn*/
	.sbt {
		width: 100%;
		height: 36px;
		margin: 4px auto;
		background: #AFD600;
		color: #fff;
		font-size: 1.2em;
		border: none;
	}
	/*登陆状态*/
	.logsts {
		font-size: 0.875em;
		float: left;
	}
	.qap {
		font-size: 0.875em;
		color: #000;
		float: right;
		display: block;
		text-decoration: none;
		margin-top: 4px;
	}
	.qlog {
		margin: 0 auto;
		text-align: center;
	}
	/*社交快速登录*/ 
	.snslg {
		width: auto;
		height: 36px;
		font-size: 1.1em;
		border: 0;
		padding: 0 20px 0;
	}
	/*定义社交按钮*/
	.snswx {
		background: #80AB00;

		
	}
	.snswb {
		background: #E75E40;
	}
	.snswm {
		background: #EFC50E;
	}
	/*/////////////////////////////////
	/*注册*/
	.signUp {
		padding-top: 20px;
	}
	
	.signUplft {
		width: 60%;
		margin-left: 20px;
		display: block;
		float: left;
	}
	
	.signUprgh {
		width: 20%;
		height: 220px;
		margin-right: -29px;
		float: right;
		display: block;
		border-left: 1px solid #e7e7e7;
	}
		.kszc {
			font-size: 0.875em;
			color: #ccc;
			display: inline;
			float: left;
			writing-mode: tb-rl;
			margin-top: 57px;
			margin-left: -10px;
		}
		
	.logsts1 {
		font-size: 0.875em;
		float: left;
		margin-top: 6px;
		padding-bottom: 2px;
	}
	/*/////////////////////////////////
	/*移动app*/
	.mappl {
		width: 40%;
		height: 220px;
		float: left;
	}
	.mappr {
		width: 48%;
		height: 220px;
		float: right;
		margin-top: 30px;
		background: url(../images/res/btn2.png) no-repeat;
	}
	
	/**************************************************
	//副屏开启*/
		#pgs {
			padding: 50px 0;
			width: 100%;
			color: #444;
			text-align: center;
		}
		#pgs h2 {
			 font-size: 3em;
			 font-family: sans-serif;
		 }
		 #pgs p {
			 font-size: 1.35em;
			 line-height: 1.8em;
		 }
		 /*small <p>*/
		 .smp {
			 font-size: 1.2em !important;
		 }
		/*第二屏*/
		#pg2 {
			height: auto;
			
		}
		 
		#pg2bg {
			width: 840px;
			height: 772px;
			margin: 60px auto;
			display: block;
			background: url("../images/bg/pg2_bgr840.png");
		}
		
		#pg2t {
			width: 70%;
			margin: -300px auto 100px;
			height: 300px;

		}
		.pg2tl {
			width: 50%;
			float: left;
		}
		.pg2tl>img {
			width: 40%;
			min-width: 250px;
			border-radius: 500px;
		}
		.pg2tr {
			width: 50%;
			float: right;
		}
		.pg2tr>img {
			width: 40%;
			min-width: 250px;
			border-radius: 500px;
		}
		/*第三屏*/
		#pg3 {
			background: #f7f7f7;
			height: auto;
			padding: 70px 0;
			width: 100%;
		}
		#pg3>p {
			width: 60%;
			margin: 0 auto;
		}
		#pg3>img {
			margin: 50px auto;
		}
		
		/*第四屏*/
		#pg4 {
			background: #fff;
			height: auto;
			padding: 70px 0;
			width: 100%;
		}
		#pg4>p {
			width: 60%;
			margin: 0 auto;
		}
		#pg4>img {
			margin: 50px auto;
		}
		
		/*第五屏*/
		#pg5 {
			background: #f7f7f7;
			height: auto;
			padding: 70px 0 0;
			width: 100%;
		}
		#pg5>p {
			width: 60%;
			margin: 0 auto;
		}
		#pg5>img {
			margin: 0 auto 0;
		}
		
		/*尾屏*/
		#lastp {
			padding: 70px 0 30px;
		}
		#lastp>button {
			background: #FFE225;
			height: 36px;
			width: 120px;
			padding: 5px 15px;
			border: 1px solid #FED626;
			font-size: 1.3em;
			color: #fff;
			font-weight: bold;
		}
		#lastp>button:hover {
			color: orange;
			background: yellow;
		}
		
	/*********************************************
	//footer*/
	#footer {
		background: #f7f7f7;
		width: 100%;
		text-align: center;
		height: auto;
		padding: 30px 0 20px;
		color: #74808B;
	}
	#footer ul {
		width: 500px;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 10px;
		}
	#footer>ul>li {
		list-style-type: none;
		display: inline-block;
		padding: 0 10px;
		height: 16px;
	}
	
	#footer a {
		color: #74808B;
		text-decoration: none;
		font-size: 0.875em;
	}
	#footer p {
		font-size: 0.875em;
	}